<div class="max-w-md">
  <div class="my-4 text-5xl font-bold">{{ section.settings.title }}</div>
  <div class="my-4">
    <p class="text-base leading-normal md:text-xl">
      {{ section.settings.sub_title }}
    </p>
  </div>
  <div class="my-4">
    {% if section.settings.button_url == blank %}
      {% assign shop_url = shop.secure_url %}
    {% else %}
      {% assign shop_url = section.settings.button_url %}
    {% endif %}
    <a
      href="{{ shop_url }}"
      class="inline bg-green-600 px-4 py-2 text-base font-medium text-white shadow hover:bg-green-800"
    >
      {{ section.settings.button_label }}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Template 404",
  "tag": "section",
  "class": "flex items-center justify-center text-center py-7 h-screen",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "404",
      "label": "404 Heading Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "default": "The page that you're looking for is not found",
      "label": "404 Subtext Title"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Back to homepage",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ]
}
{% endschema %}
